################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Eshop.Models/bin/Debug/net8.0
/Eshop.Models/obj
/Eshop.Web/Emails
/Eshop.Web/obj
