@{
    ViewData["Title"] = "Dashboard";
    string name = "E-Shop admin panel";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<link href="~/css/common/home/home-page.css" rel="stylesheet" />

<section class="content-header" style="background-color: #0074D9">
    <!-- Content Header (Page header) -->
    <div class="header">
        <h1>@name</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Bar Chart -->
        <div class="col-lg-8  col-md-12 col-sm-12 ">
            <div class="card lobicard lobicard-custom-control" data-sortable="true">
                <div class="card-header">
                    <div class="card-title custom_title">
                        <h4>Social Media Posts</h4>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="barChart" height="135"></canvas>
                </div>
            </div>
        </div>
        <!-- Pie Chart -->
        <div class="col-lg-4  col-md-12 col-sm-12 ">
            <div class="card lobicard lobicard-custom-control" data-sortable="true">
                <div class="card-header">
                    <div class="card-title custom_title">
                        <h4>Keywords Ranks</h4>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="pieChart" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Line Chart -->
        <div class="col-lg-12  col-md-12 col-sm-12 ">
            <div class="card lobicard lobicard-custom-control" data-sortable="true">
                <div class="card-header">
                    <div class="card-title custom_title">
                        <h4>Backlinks</h4>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="lineChart" height="120"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
@section Scripts {
    <script src="~/manager/common/customised-dashboard.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded",function(){
           
        })
    </script>
}
