.myimg {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

    .myimg:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

/*.card-body:hover{
        background-color:aliceblue;
        color:black;
    }*/

#AddCart:hover {
    background-color: darkblue;
}

.myHiddenInput {
    align-content: center;
    align-items: center;
    text-align: center;
}

.customPadding {
    padding-bottom: 5px;
}


/* For screens smaller than 1200px */
@media (max-width: 1200px) {
    h4 {
        font-size: 1.8rem;
    }
}

/* For screens smaller than 992px */
@media (max-width: 992px) {
    h4 {
        font-size: 1.6rem;
    }
}

/* For screens smaller than 768px (tablets) */
@media (max-width: 768px) {
    h4 {
        font-size: 1.4rem;
    }
}

/* For screens smaller than 576px (mobiles) */
@media (max-width: 576px) {
    h4 {
        font-size: 1.2rem;
    }
}
